[submodule "Connectors_IEC_DIN.pretty"]
	path = src/Connectors_IEC_DIN.pretty
	url = https://github.com/KiCad/Connectors_IEC_DIN.pretty
[submodule "Measurement_Scales.pretty"]
	path = src/Measurement_Scales.pretty
	url = https://github.com/KiCad/Measurement_Scales.pretty
[submodule "Microwave.pretty"]
	path = src/Microwave.pretty
	url = https://github.com/KiCad/Microwave.pretty
[submodule "Power_Integrations.pretty"]
	path = src/Power_Integrations.pretty
	url = https://github.com/KiCad/Power_Integrations.pretty
[submodule "Resistors_Universal.pretty"]
	path = src/Resistors_Universal.pretty
	url = https://github.com/KiCad/Resistors_Universal.pretty
[submodule "kicad-footprint-generator"]
	path = src/kicad-footprint-generator
	url = https://gitlab.com/kicad/libraries/kicad-footprint-generator
[submodule "kicad-footprints"]
	path = src/kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "kicad-library-utils"]
	path = src/kicad-library-utils
	url = https://gitlab.com/kicad/libraries/kicad-library-utils.git
[submodule "kicad-packages3D"]
	path = src/kicad-packages3D
	url = https://gitlab.com/kicad/libraries/kicad-packages3D.git
[submodule "kicad-symbols"]
	path = src/kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "Pin_Headers.pretty"]
	path = src/Pin_Headers.pretty
	url = https://github.com/KiCad/Pin_Headers.pretty.git
[submodule "LEDs.pretty"]
	path = src/LEDs.pretty
	url = https://github.com/KiCad/LEDs.pretty.git
[submodule "Oscillators.pretty"]
	path = src/Oscillators.pretty
	url = https://github.com/KiCad/Oscillators.pretty.git
[submodule "SparkFun-KiCad-Libraries"]
	path = src/SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries.git
[submodule "KiCAD-Libraries"]
	path = src/KiCAD-Libraries
	url = https://github.com/sww1235/KiCAD-Libraries.git
[submodule "kicad-ESP8266"]
	path = src/kicad-ESP8266
	url = https://github.com/Basirk/kicad-ESP8266.git
[submodule "ultra_librarian"]
	path = src/ultra_librarian
	url = https://github.com/HenraL/ultra_librarian.git
[submodule "src/freetronics_kicad_library"]
	path = src/freetronics_kicad_library
	url = https://github.com/freetronics/freetronics_kicad_library.git
[submodule "src/Alternate-KiCad-Library"]
	path = src/Alternate-KiCad-Library
	url = https://github.com/DawidCislo/Alternate-KiCad-Library.git
[submodule "src/snap_magic"]
	path = src/snap_magic
	url = https://github.com/HenraL/snap_magic.git
