C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PWRKEY" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PWRKEY" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "RESET" 0 -300 0 0 60 0 L
X "PIN_TEXT" "RESET" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "GND_3" 0 -400 0 0 60 0 L
X "PIN_TEXT" "GND_3" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SPI_CLK*" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SPI_CLK*" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SPI_MISO*" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SPI_MISO*" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "SPI_MOSI*" 0 -700 0 0 60 0 L
X "PIN_TEXT" "SPI_MOSI*" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "SPI_CS*" 0 -800 0 0 60 0 L
X "PIN_TEXT" "SPI_CS*" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "GND_4" 0 -900 0 0 60 0 L
X "PIN_TEXT" "GND_4" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "USB_VBUS" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "USB_VBUS" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "USB_DN" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "USB_DN" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "USB_DP" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "USB_DP" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "GND_5" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "GND_5" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "VDD_1V8" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "VDD_1V8" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "USB_ID" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "USB_ID" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "USIM_DATA" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "USIM_DATA" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 0 -1700 "USIM_RST" 0 -1700 0 0 60 0 L
X "PIN_TEXT" "USIM_RST" 230 -1730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1700 0 -1700 -1 0
C 0 -1800 "USIM_CLK" 0 -1800 0 0 60 0 L
X "PIN_TEXT" "USIM_CLK" 230 -1830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1800 0 -1800 -1 0
C 0 -1900 "USIM_VDD" 0 -1900 0 0 60 0 L
X "PIN_TEXT" "USIM_VDD" 230 -1930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1900 0 -1900 -1 0
C 0 -2000 "SD_CMD" 0 -2000 0 0 60 0 L
X "PIN_TEXT" "SD_CMD" 230 -2030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2000 0 -2000 -1 0
C 0 -2100 "SD_DATA0" 0 -2100 0 0 60 0 L
X "PIN_TEXT" "SD_DATA0" 230 -2130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2100 0 -2100 -1 0
C 0 -2200 "SD_DATA1" 0 -2200 0 0 60 0 L
X "PIN_TEXT" "SD_DATA1" 230 -2230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2200 0 -2200 -1 0
C 0 -2300 "SD_DATA2" 0 -2300 0 0 60 0 L
X "PIN_TEXT" "SD_DATA2" 230 -2330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2300 0 -2300 -1 0
C 0 -2400 "SD_DATA3" 0 -2400 0 0 60 0 L
X "PIN_TEXT" "SD_DATA3" 230 -2430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2400 0 -2400 -1 0
C 0 -2500 "SD_CLK" 0 -2500 0 0 60 0 L
X "PIN_TEXT" "SD_CLK" 230 -2530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2500 0 -2500 -1 0
C 0 -2600 "SDIO_DATA1" 0 -2600 0 0 60 0 L
X "PIN_TEXT" "SDIO_DATA1" 230 -2630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2600 0 -2600 -1 0
C 0 -2700 "SDIO_DATA2" 0 -2700 0 0 60 0 L
X "PIN_TEXT" "SDIO_DATA2" 230 -2730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2700 0 -2700 -1 0
C 0 -2800 "SDIO_CMD" 0 -2800 0 0 60 0 L
X "PIN_TEXT" "SDIO_CMD" 230 -2830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2800 0 -2800 -1 0
C 0 -2900 "SDIO_DATA0" 0 -2900 0 0 60 0 L
X "PIN_TEXT" "SDIO_DATA0" 230 -2930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2900 0 -2900 -1 0
C 0 -3000 "SDIO_DATA3" 0 -3000 0 0 60 0 L
X "PIN_TEXT" "SDIO_DATA3" 230 -3030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3000 0 -3000 -1 0
C 0 -3100 "SDIO_CLK" 0 -3100 0 0 60 0 L
X "PIN_TEXT" "SDIO_CLK" 230 -3130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3100 0 -3100 -1 0
C 0 -3200 "GPIO3*" 0 -3200 0 0 60 0 L
X "PIN_TEXT" "GPIO3*" 230 -3230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3200 0 -3200 -1 0
C 0 -3300 "GPIO6*" 0 -3300 0 0 60 0 L
X "PIN_TEXT" "GPIO6*" 230 -3330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3300 0 -3300 -1 0
C 0 -3400 "HSIC_STROBE" 0 -3400 0 0 60 0 L
X "PIN_TEXT" "HSIC_STROBE" 230 -3430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3400 0 -3400 -1 0
C 0 -3500 "HSIC_DATA" 0 -3500 0 0 60 0 L
X "PIN_TEXT" "HSIC_DATA" 230 -3530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3500 0 -3500 -1 0
C 0 -3600 "GND_6" 0 -3600 0 0 60 0 L
X "PIN_TEXT" "GND_6" 230 -3630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3600 0 -3600 -1 0
C 0 -3700 "VBAT_1" 0 -3700 0 0 60 0 L
X "PIN_TEXT" "VBAT_1" 230 -3730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3700 0 -3700 -1 0
C 0 -3800 "VBAT_2" 0 -3800 0 0 60 0 L
X "PIN_TEXT" "VBAT_2" 230 -3830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3800 0 -3800 -1 0
C 0 -3900 "GND_7" 0 -3900 0 0 60 0 L
X "PIN_TEXT" "GND_7" 230 -3930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3900 0 -3900 -1 0
C 0 -4000 "GND_8" 0 -4000 0 0 60 0 L
X "PIN_TEXT" "GND_8" 230 -4030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4000 0 -4000 -1 0
C 0 -4100 "DBG_TXD" 0 -4100 0 0 60 0 L
X "PIN_TEXT" "DBG_TXD" 230 -4130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4100 0 -4100 -1 0
C 0 -4200 "GND_9" 0 -4200 0 0 60 0 L
X "PIN_TEXT" "GND_9" 230 -4230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4200 0 -4200 -1 0
C 0 -4300 "VDD_AUX" 0 -4300 0 0 60 0 L
X "PIN_TEXT" "VDD_AUX" 230 -4330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4300 0 -4300 -1 0
C 0 -4400 "ISINK" 0 -4400 0 0 60 0 L
X "PIN_TEXT" "ISINK" 230 -4430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4400 0 -4400 -1 0
C 0 -4500 "ADC2" 0 -4500 0 0 60 0 L
X "PIN_TEXT" "ADC2" 230 -4530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4500 0 -4500 -1 0
C 0 -4600 "ADC1" 0 -4600 0 0 60 0 L
X "PIN_TEXT" "ADC1" 230 -4630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4600 0 -4600 -1 0
C 0 -4700 "SD_DET" 0 -4700 0 0 60 0 L
X "PIN_TEXT" "SD_DET" 230 -4730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4700 0 -4700 -1 0
C 0 -4800 "STATUS" 0 -4800 0 0 60 0 L
X "PIN_TEXT" "STATUS" 230 -4830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4800 0 -4800 -1 0
C 0 -4900 "GPIO43" 0 -4900 0 0 60 0 L
X "PIN_TEXT" "GPIO43" 230 -4930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -4900 0 -4900 -1 0
C 0 -5000 "NETLIGHT" 0 -5000 0 0 60 0 L
X "PIN_TEXT" "NETLIGHT" 230 -5030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5000 0 -5000 -1 0
C 0 -5100 "GPIO41*" 0 -5100 0 0 60 0 L
X "PIN_TEXT" "GPIO41*" 230 -5130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5100 0 -5100 -1 0
C 0 -5200 "USIM_DET*" 0 -5200 0 0 60 0 L
X "PIN_TEXT" "USIM_DET*" 230 -5230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5200 0 -5200 -1 0
C 0 -5300 "FLIGHTMODE*" 0 -5300 0 0 60 0 L
X "PIN_TEXT" "FLIGHTMODE*" 230 -5330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5300 0 -5300 -1 0
C 0 -5400 "SCL" 0 -5400 0 0 60 0 L
X "PIN_TEXT" "SCL" 230 -5430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5400 0 -5400 -1 0
C 0 -5500 "SDA" 0 -5500 0 0 60 0 L
X "PIN_TEXT" "SDA" 230 -5530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5500 0 -5500 -1 0
C 0 -5600 "GND_10" 0 -5600 0 0 60 0 L
X "PIN_TEXT" "GND_10" 230 -5630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5600 0 -5600 -1 0
C 0 -5700 "GND_11" 0 -5700 0 0 60 0 L
X "PIN_TEXT" "GND_11" 230 -5730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5700 0 -5700 -1 0
C 0 -5800 "AUX_ANT" 0 -5800 0 0 60 0 L
X "PIN_TEXT" "AUX_ANT" 230 -5830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5800 0 -5800 -1 0
C 0 -5900 "GND_12" 0 -5900 0 0 60 0 L
X "PIN_TEXT" "GND_12" 230 -5930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -5900 0 -5900 -1 0
C 0 -6000 "GND_13" 0 -6000 0 0 60 0 L
X "PIN_TEXT" "GND_13" 230 -6030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6000 0 -6000 -1 0
C 0 -6100 "VBAT_3" 0 -6100 0 0 60 0 L
X "PIN_TEXT" "VBAT_3" 230 -6130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6100 0 -6100 -1 0
C 0 -6200 "VBAT_4" 0 -6200 0 0 60 0 L
X "PIN_TEXT" "VBAT_4" 230 -6230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6200 0 -6200 -1 0
C 0 -6300 "GND_14" 0 -6300 0 0 60 0 L
X "PIN_TEXT" "GND_14" 230 -6330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6300 0 -6300 -1 0
C 0 -6400 "GND_15" 0 -6400 0 0 60 0 L
X "PIN_TEXT" "GND_15" 230 -6430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6400 0 -6400 -1 0
C 0 -6500 "RTS" 0 -6500 0 0 60 0 L
X "PIN_TEXT" "RTS" 230 -6530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6500 0 -6500 -1 0
C 0 -6600 "CTS" 0 -6600 0 0 60 0 L
X "PIN_TEXT" "CTS" 230 -6630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6600 0 -6600 -1 0
C 0 -6700 "RXD" 0 -6700 0 0 60 0 L
X "PIN_TEXT" "RXD" 230 -6730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -6700 0 -6700 -1 0
C 1900 0 "RI" 1900 0 0 0 60 0 R
X "PIN_TEXT" "RI" 1670 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 0 1900 0 -1 0
C 1900 -100 "DCD" 1900 -100 0 0 60 0 R
X "PIN_TEXT" "DCD" 1670 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -100 1900 -100 -1 0
C 1900 -200 "TXD" 1900 -200 0 0 60 0 R
X "PIN_TEXT" "TXD" 1670 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -200 1900 -200 -1 0
C 1900 -300 "DTR" 1900 -300 0 0 60 0 R
X "PIN_TEXT" "DTR" 1670 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -300 1900 -300 -1 0
C 1900 -400 "PCM_OUT" 1900 -400 0 0 60 0 R
X "PIN_TEXT" "PCM_OUT" 1670 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -400 1900 -400 -1 0
C 1900 -500 "PCM_IN" 1900 -500 0 0 60 0 R
X "PIN_TEXT" "PCM_IN" 1670 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -500 1900 -500 -1 0
C 1900 -600 "PCM_SYNC" 1900 -600 0 0 60 0 R
X "PIN_TEXT" "PCM_SYNC" 1670 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -600 1900 -600 -1 0
C 1900 -700 "PCM_CLK" 1900 -700 0 0 60 0 R
X "PIN_TEXT" "PCM_CLK" 1670 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -700 1900 -700 -1 0
C 1900 -800 "GND_16" 1900 -800 0 0 60 0 R
X "PIN_TEXT" "GND_16" 1670 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -800 1900 -800 -1 0
C 1900 -900 "GND_17" 1900 -900 0 0 60 0 R
X "PIN_TEXT" "GND_17" 1670 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -900 1900 -900 -1 0
C 1900 -1000 "GNSS_ANT" 1900 -1000 0 0 60 0 R
X "PIN_TEXT" "GNSS_ANT" 1670 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1000 1900 -1000 -1 0
C 1900 -1100 "GND_18" 1900 -1100 0 0 60 0 R
X "PIN_TEXT" "GND_18" 1670 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1100 1900 -1100 -1 0
C 1900 -1200 "GND_19" 1900 -1200 0 0 60 0 R
X "PIN_TEXT" "GND_19" 1670 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1200 1900 -1200 -1 0
C 1900 -1300 "MAIN_ANT" 1900 -1300 0 0 60 0 R
X "PIN_TEXT" "MAIN_ANT" 1670 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1300 1900 -1300 -1 0
C 1900 -1400 "●COEX1*" 1900 -1400 0 0 60 0 R
X "PIN_TEXT" "●COEX1*" 1670 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1400 1900 -1400 -1 0
C 1900 -1500 "COEX2*" 1900 -1500 0 0 60 0 R
X "PIN_TEXT" "COEX2*" 1670 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1500 1900 -1500 -1 0
C 1900 -1600 "USB_BOOT●*" 1900 -1600 0 0 60 0 R
X "PIN_TEXT" "USB_BOOT●*" 1670 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1600 1900 -1600 -1 0
C 1900 -1700 "COEX3●*" 1900 -1700 0 0 60 0 R
X "PIN_TEXT" "COEX3●*" 1670 -1730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1700 1900 -1700 -1 0
C 1900 -1800 "GPIO77*" 1900 -1800 0 0 60 0 R
X "PIN_TEXT" "GPIO77*" 1670 -1830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1800 1900 -1800 -1 0
C 1900 -1900 "RESERVED_1" 1900 -1900 0 0 60 0 R
X "PIN_TEXT" "RESERVED_1" 1670 -1930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -1900 1900 -1900 -1 0
C 1900 -2000 "RESERVED_2" 1900 -2000 0 0 60 0 R
X "PIN_TEXT" "RESERVED_2" 1670 -2030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2000 1900 -2000 -1 0
C 1900 -2100 "RESERVED_3" 1900 -2100 0 0 60 0 R
X "PIN_TEXT" "RESERVED_3" 1670 -2130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2100 1900 -2100 -1 0
C 1900 -2200 "RESERVED_4" 1900 -2200 0 0 60 0 R
X "PIN_TEXT" "RESERVED_4" 1670 -2230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2200 1900 -2200 -1 0
C 1900 -2300 "RESERVED_5" 1900 -2300 0 0 60 0 R
X "PIN_TEXT" "RESERVED_5" 1670 -2330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2300 1900 -2300 -1 0
C 1900 -2400 "GND_20" 1900 -2400 0 0 60 0 R
X "PIN_TEXT" "GND_20" 1670 -2430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2400 1900 -2400 -1 0
C 1900 -2500 "GPIO4" 1900 -2500 0 0 60 0 R
X "PIN_TEXT" "GPIO4" 1670 -2530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2500 1900 -2500 -1 0
C 1900 -2600 "GPIO2" 1900 -2600 0 0 60 0 R
X "PIN_TEXT" "GPIO2" 1670 -2630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2600 1900 -2600 -1 0
C 1900 -2700 "GPIO1" 1900 -2700 0 0 60 0 R
X "PIN_TEXT" "GPIO1" 1670 -2730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2700 1900 -2700 -1 0
C 1900 -2800 "GPIO_54" 1900 -2800 0 0 60 0 R
X "PIN_TEXT" "GPIO_54" 1670 -2830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2800 1900 -2800 -1 0
C 1900 -2900 "GND_21" 1900 -2900 0 0 60 0 R
X "PIN_TEXT" "GND_21" 1670 -2930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -2900 1900 -2900 -1 0
C 1900 -3000 "RESERVED_6" 1900 -3000 0 0 60 0 R
X "PIN_TEXT" "RESERVED_6" 1670 -3030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3000 1900 -3000 -1 0
C 1900 -3100 "RESERVED_7" 1900 -3100 0 0 60 0 R
X "PIN_TEXT" "RESERVED_7" 1670 -3130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3100 1900 -3100 -1 0
C 1900 -3200 "RESERVED_8" 1900 -3200 0 0 60 0 R
X "PIN_TEXT" "RESERVED_8" 1670 -3230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3200 1900 -3200 -1 0
C 1900 -3300 "RESERVED_9" 1900 -3300 0 0 60 0 R
X "PIN_TEXT" "RESERVED_9" 1670 -3330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3300 1900 -3300 -1 0
C 1900 -3400 "RESERVED_10" 1900 -3400 0 0 60 0 R
X "PIN_TEXT" "RESERVED_10" 1670 -3430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3400 1900 -3400 -1 0
C 1900 -3500 "RESERVED_11" 1900 -3500 0 0 60 0 R
X "PIN_TEXT" "RESERVED_11" 1670 -3530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3500 1900 -3500 -1 0
C 1900 -3600 "RESERVED_12" 1900 -3600 0 0 60 0 R
X "PIN_TEXT" "RESERVED_12" 1670 -3630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3600 1900 -3600 -1 0
C 1900 -3700 "DBG_RXD" 1900 -3700 0 0 60 0 R
X "PIN_TEXT" "DBG_RXD" 1670 -3730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3700 1900 -3700 -1 0
C 1900 -3800 "RESERVED_13" 1900 -3800 0 0 60 0 R
X "PIN_TEXT" "RESERVED_13" 1670 -3830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3800 1900 -3800 -1 0
C 1900 -3900 "SGMII_RST_N" 1900 -3900 0 0 60 0 R
X "PIN_TEXT" "SGMII_RST_N" 1670 -3930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -3900 1900 -3900 -1 0
C 1900 -4000 "SGMII_INT_N" 1900 -4000 0 0 60 0 R
X "PIN_TEXT" "SGMII_INT_N" 1670 -4030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4000 1900 -4000 -1 0
C 1900 -4100 "GND_22" 1900 -4100 0 0 60 0 R
X "PIN_TEXT" "GND_22" 1670 -4130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4100 1900 -4100 -1 0
C 1900 -4200 "RESERVED_14" 1900 -4200 0 0 60 0 R
X "PIN_TEXT" "RESERVED_14" 1670 -4230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4200 1900 -4200 -1 0
C 1900 -4300 "SGMII_RX_P" 1900 -4300 0 0 60 0 R
X "PIN_TEXT" "SGMII_RX_P" 1670 -4330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4300 1900 -4300 -1 0
C 1900 -4400 "SGMII_RX_M" 1900 -4400 0 0 60 0 R
X "PIN_TEXT" "SGMII_RX_M" 1670 -4430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4400 1900 -4400 -1 0
C 1900 -4500 "SGMII_TX_M" 1900 -4500 0 0 60 0 R
X "PIN_TEXT" "SGMII_TX_M" 1670 -4530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4500 1900 -4500 -1 0
C 1900 -4600 "SGMII_TX_P" 1900 -4600 0 0 60 0 R
X "PIN_TEXT" "SGMII_TX_P" 1670 -4630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4600 1900 -4600 -1 0
C 1900 -4700 "SGMII_MDIO" 1900 -4700 0 0 60 0 R
X "PIN_TEXT" "SGMII_MDIO" 1670 -4730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4700 1900 -4700 -1 0
C 1900 -4800 "SGMII_MDC" 1900 -4800 0 0 60 0 R
X "PIN_TEXT" "SGMII_MDC" 1670 -4830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4800 1900 -4800 -1 0
C 1900 -4900 "GND_23" 1900 -4900 0 0 60 0 R
X "PIN_TEXT" "GND_23" 1670 -4930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -4900 1900 -4900 -1 0
C 1900 -5000 "GPIO_19" 1900 -5000 0 0 60 0 R
X "PIN_TEXT" "GPIO_19" 1670 -5030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5000 1900 -5000 -1 0
C 1900 -5100 "GND_24" 1900 -5100 0 0 60 0 R
X "PIN_TEXT" "GND_24" 1670 -5130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5100 1900 -5100 -1 0
C 1900 -5200 "GND_25" 1900 -5200 0 0 60 0 R
X "PIN_TEXT" "GND_25" 1670 -5230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5200 1900 -5200 -1 0
C 1900 -5300 "GND_26" 1900 -5300 0 0 60 0 R
X "PIN_TEXT" "GND_26" 1670 -5330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5300 1900 -5300 -1 0
C 1900 -5400 "GND_27" 1900 -5400 0 0 60 0 R
X "PIN_TEXT" "GND_27" 1670 -5430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5400 1900 -5400 -1 0
C 1900 -5500 "GND_28" 1900 -5500 0 0 60 0 R
X "PIN_TEXT" "GND_28" 1670 -5530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5500 1900 -5500 -1 0
C 1900 -5600 "GND_29" 1900 -5600 0 0 60 0 R
X "PIN_TEXT" "GND_29" 1670 -5630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5600 1900 -5600 -1 0
C 1900 -5700 "GND_30" 1900 -5700 0 0 60 0 R
X "PIN_TEXT" "GND_30" 1670 -5730 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5700 1900 -5700 -1 0
C 1900 -5800 "GND_31" 1900 -5800 0 0 60 0 R
X "PIN_TEXT" "GND_31" 1670 -5830 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5800 1900 -5800 -1 0
C 1900 -5900 "GND_32" 1900 -5900 0 0 60 0 R
X "PIN_TEXT" "GND_32" 1670 -5930 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -5900 1900 -5900 -1 0
C 1900 -6000 "GND_33" 1900 -6000 0 0 60 0 R
X "PIN_TEXT" "GND_33" 1670 -6030 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6000 1900 -6000 -1 0
C 1900 -6100 "GND_34" 1900 -6100 0 0 60 0 R
X "PIN_TEXT" "GND_34" 1670 -6130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6100 1900 -6100 -1 0
C 1900 -6200 "GND_35" 1900 -6200 0 0 60 0 R
X "PIN_TEXT" "GND_35" 1670 -6230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6200 1900 -6200 -1 0
C 1900 -6300 "GND_36" 1900 -6300 0 0 60 0 R
X "PIN_TEXT" "GND_36" 1670 -6330 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6300 1900 -6300 -1 0
C 1900 -6400 "GND_37" 1900 -6400 0 0 60 0 R
X "PIN_TEXT" "GND_37" 1670 -6430 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6400 1900 -6400 -1 0
C 1900 -6500 "GND_38" 1900 -6500 0 0 60 0 R
X "PIN_TEXT" "GND_38" 1670 -6530 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6500 1900 -6500 -1 0
C 1900 -6600 "GND_39" 1900 -6600 0 0 60 0 R
X "PIN_TEXT" "GND_39" 1670 -6630 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -6600 1900 -6600 -1 0
L 200 100 1700 100 -1 0
L 1700 -6800 1700 100 -1 0
L 1700 -6800 200 -6800 -1 0
L 200 100 200 -6800 -1 0
P "$LOCATION" "?" 1750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

